#screen {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 800px;
    height: 480px;
    background-color: #242425;
    overflow: hidden;
}

#screen > .view {
    display: none;
    opacity: 0;
    transition: opacity 0.4s;
}

#screen > .view.visible {
    display: block;
    opacity: 1;
}